* {
  padding: 0;
  margin: 0; }

.no-padding {
  padding: 0 !important; }

.inline-block-top {
  vertical-align: top;
  display: inline-block; }

.block {
  display: block; }

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../css/fonts/OpenSans-Semibold/OpenSans-Semibold.eot");
  src: url("../css/fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../css/fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"), url("../css/fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype"), url("../css/fonts/OpenSans-Semibold/OpenSans-Semibold.svg#Sri-TSCRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../css/fonts/OpenSans-Bold/OpenSans-Bold.eot");
  src: url("../css/fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../css/fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), url("../css/fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../css/fonts/OpenSans-Bold/OpenSans-Bold.svg#Sri-TSCRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../css/fonts/OpenSans/OpenSans.eot");
  src: url("../css/fonts/OpenSans/OpenSans.eot?#iefix") format("embedded-opentype"), url("../css/fonts/OpenSans/OpenSans.woff") format("woff"), url("../css/fonts/OpenSans/OpenSans.ttf") format("truetype"), url("../css/fonts/OpenSans/OpenSans.svg#Sri-TSCRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../css/fonts/OpenSans-Italic/OpenSans-Italic.eot");
  src: url("../css/fonts/OpenSans-Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../css/fonts/OpenSans-Italic/OpenSans-Italic.woff") format("woff"), url("../css/fonts/OpenSans-Italic/OpenSans-Italic.ttf") format("truetype"), url("../css/fonts/OpenSans-Italic/OpenSans-Italic.svg#Sri-TSCRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
li {
  list-style-type: none; }

a:hover, a:active, a:focus {
  text-decoration: none; }

.wrapper {
  display: table;
  width: 100%; }

.tabbable.tabs-left, .right-box {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box; }

.tabbable.tabs-left {
  background: #7facd9;
  width: 140px;
  padding-bottom: 130px; }

.light-blue {
  color: #5490cc; }

.top-nav .top-list {
  text-transform: uppercase;
  font: 16px 'OpenSans-Semibold';
  height: 100%;
  line-height: 70px;
  margin-bottom: 0; }

.top-list li {
  margin-right: 130px;
  display: inline-block; }

.top-nav {
  height: 70px;
  line-height: 70px;
  background: #262262;
  color: white;
  box-sizing: border-box; }

/* custom inclusion of right, left and below tabs */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0; }

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none; }

.tab-content > .active,
.pill-content > .active {
  display: block; }

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd; }

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0; }

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent; }

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd; }

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
  margin-bottom: -3px; }

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

.tabs-left > .nav-tabs {
  float: left;
  border-right: 1px solid #ddd;
  width: 140px; }

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  background: #e2ecf5;
  color: #262262;
  font: 14px 'OpenSans-Semibold';
  line-height: 70px; }

.lM {
  line-height: 1 !important;
  padding-top: 21px !important; }

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  border-radius: 0;
  background: #5490cc;
  color: white;
  font: 14px 'OpenSans-Semibold';
  text-align: center;
  text-transform: uppercase;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #9fc1e3;
  padding: 0; }

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: transparent; }

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd; }

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd; }

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff; }

.logo-bg {
  height: 140px;
  line-height: 140px;
  width: 140px;
  background: #262262;
  text-align: center; }

.dropdown .block {
  line-height: 1;
  margin-bottom: 10px; }

.top-nav a {
  color: white; }

.top-nav .icon-settings {
  margin-right: 45px;
  font-size: 20px; }

.user-name {
  margin-top: 15px; }

.prof-img {
  margin-left: 75px; }

.pull-right > .dropdown-menu {
  right: 77px;
  left: auto;
  top: 67px; }

#accordion1 .panel-heading {
  padding: 0;
  border-bottom: 1px solid #9ebddb;
  border-top: 1px solid #9ebddb;
  margin-bottom: -1px; }
#accordion1 .panel-title {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6eef6+0,dfe9f4+43,dce8f4+50,d5e4f2+100 */
  background: #e6eef6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e6eef6 0%, #dfe9f4 43%, #dce8f4 50%, #d5e4f2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e6eef6 0%, #dfe9f4 43%, #dce8f4 50%, #d5e4f2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e6eef6 0%, #dfe9f4 43%, #dce8f4 50%, #d5e4f2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6eef6', endColorstr='#d5e4f2', GradientType=0);
  /* IE6-9 */
  height: 49px;
  line-height: 49px;
  border-bottom: 1px solid #9ebddb;
  margin-bottom: -1px;
  border-left: 0 none;
  padding: 0 10px 0 20px; }
  #accordion1 .panel-title .indicator {
    display: inline-block;
    height: 14px;
    width: 14px;
    color: #939598;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    margin-top: 17px; }
#accordion1 .panel-body ul {
  border-right: 1px solid #9ebddb; }
#accordion1 .panel-default {
  border: 0 none;
  border-right: 1px solid #9ebddb; }

.table > thead > tr > th {
  border-bottom: 0 none;
  background: #d4e3f2;
  border-right: 2px solid white;
  cursor: pointer; }

table th.large {
  min-width: 108px; }
table th.large-m {
  min-width: 130px; }
table th {
  color: #39396f;
  word-wrap: break-word; }
  table th .circle {
    display: block;
    background: #7d82aa;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin-bottom: 3px; }
  table th .fa.pull-right {
    margin: 0 !important; }
table td {
  vertical-align: middle !important;
  border-bottom: 1px solid #d4e3f2;
  font: 12px 'OpenSans';
  word-wrap: break-word; }
  table td p {
    font: 12px 'OpenSans';
    color: #999999; }
  table td .table-link {
    color: black;
    font: 14px 'OpenSans-SemiBold'; }
  table td .w-icons {
    height: 40px;
    width: 40px;
    display: block;
    border: 1px solid #d4e3f2;
    border-radius: 2px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    color: #262262; }
    table td .w-icons:hover, table td .w-icons:active, table td .w-icons a:focus {
      background: #d4e3f2; }
    table td .w-icons:after {
      content: "";
      display: block;
      height: 27px;
      width: 27px;
      margin: 5px auto; }
    table td .w-icons.word-icon:after {
      background: url("../img/w-icons.png") 0 0;
      background-size: cover; }
    table td .w-icons.pdf-icon:after {
      background: url("../img/w-icons.png") -30px 0;
      background-size: cover; }
    table td .w-icons.xls-icon:after {
      background: url("../img/w-icons.png") -60px 0;
      background-size: cover; }
    table td .w-icons.html-icon:after {
      background: url("../img/w-icons.png") -128px 0;
      background-size: cover; }
    table td .w-icons.ppt-icon:after {
      background: url("../img/w-icons.png") -92px 0;
      background-size: cover; }
    table td .w-icons.txt-icon:after {
      background: url("../img/w-icons.png") -190px 0;
      background-size: cover; }
    table td .w-icons.dat-icon:after {
      background: url("../img/w-icons.png") -156px 0;
      background-size: cover; }
    table td .w-icons.asc-icon:after {
      background: url("../img/w-icons.png") -350px 0;
      background-size: cover; }
    table td .w-icons.xyz-icon:after {
      background: url("../img/w-icons.png") -224px 0;
      background-size: cover; }
    table td .w-icons.zip-icon:after {
      background: url("../img/w-icons.png") -270px 0;
      background-size: cover; }
    table td .w-icons.png-icon:after {
      background: url("../img/w-icons.png") -298px 0;
      background-size: cover; }
    table td .w-icons.las-icon:after {
      background: url("../img/w-icons.png") -324px 0;
      background-size: cover; }
    table td .w-icons.rtf-icon:after {
      background: url("../img/w-icons.png") -382px 0;
      background-size: cover; }
    table td .w-icons.lnk-icon:after {
      background: url("../img/w-icons.png") -415px 0;
      background-size: cover; }
table .file_title {
  max-width: 330px; }

.pagination > li, .pagination > li > a, .pagination > li > span {
  float: none !important;
  vertical-align: middle;
  margin-bottom: 5px;
  display: inline-block; }

.pages {
  margin: -41px 74px;
  color: #262262; }

.filter-panel .panel + .panel {
  margin-top: -1px !important; }
.filter-panel .panel-heading {
  background-color: #d4e3f2;
  border-color: transparent;
  border-radius: 0;
  color: #262262; }
  .filter-panel .panel-heading .search {
    width: 100%;
    height: 30px;
    border: 1px solid #9ebddb;
    border-radius: 2px;
    margin: 10px 0 0 0;
    padding: 0 15px;
    font: 12px 'OpenSans-Italic'; }

.panel-body {
  padding: 0 !important; }
  .panel-body ul {
    margin-bottom: 0; }
    .panel-body ul li {
      min-height: 29px;
      border-bottom: 1px solid #d4e3f2;
      padding: 0 8px 0 15px;
      font: 12px/29px 'OpenSans';
      list-style: disc inside; }

.panel-group .panel + .panel {
  margin-top: -1px !important;
  border-radius: 0; }

#accordion {
  padding-left: 0;
  margin-top: 20px; }
  #accordion .panel-heading:last-child {
    border-bottom: 1px solid #5490CC;
    border-bottom-left-radius: 3px; }
  #accordion .panel-default {
    border-left: 1px solid #5490cc; }
  #accordion .panel-body ul li {
    padding: 0 13px 0 15px; }

.heading {
  background: #5490cc;
  padding: 15px 10px;
  color: white;
  font: 14px 'OpenSans-Semibold';
  text-transform: uppercase;
  border-radius: 2px 2px 0 0; }
  .heading h4 {
    margin: 0; }

.panel-group .panel {
  border-radius: 0; }

.panel-title {
  font: 14px 'OpenSans-SemiBold'; }

.tabbable {
  position: relative; }
  .tabbable .tabbable-bottom {
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 0;
    right: 0; }
    .tabbable .tabbable-bottom li {
      display: inline-block;
      color: white;
      padding: 15px 20px;
      border-right: 1px solid #fff;
      font-size: 20px; }
      .tabbable .tabbable-bottom li:last-child {
        border-right: 0 none;
        padding-right: 0; }
  .tabbable .badge {
    background-color: #f15a22;
    border-radius: 10px;
    margin-top: -24px;
    font: 12px 'OpenSans-Bold';
    padding: 1px 6px;
    margin-left: 4px; }

.personal {
  background: #7facd9 !important;
  position: relative; }
  .personal .close-btn {
    position: absolute;
    right: 7px;
    top: 7px;
    height: 11px;
    width: 13px;
    display: block;
    background: url("../img/close.png") transparent;
    background-size: contain; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #9ebddb;
  border-color: #9ebddb; }

.icons {
  vertical-align: middle; }

.panel-title > a {
  display: block; }

.squaredTwo input[type="checkbox"] {
  display: none; }

input[type="checkbox"]:checked + label span:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: black;
  right: -3px;
  font-size: 12px;
  position: relative;
  display: inline-block;
  vertical-align: middle; }

/* SQUARED TWO */
.squaredTwo {
  width: 14px;
  height: 14px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  float: right; }

.squaredTwo label {
  cursor: pointer;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 9px;
  background: #eef3f9;
  border: 1px solid #a5c2de;
  border-radius: 2px; }

.squaredTwo label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 7px;
  height: 4px;
  background: transparent;
  top: 3px;
  left: 3px;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.squaredTwo input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }

.main-label {
  display: inline-block;
  max-width: 180px;
  font: 12px 'OpenSans';
  color: #000000; }

.account-wall {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  float: none;
  height: 460px;
  border-top: 6px solid #39396f;
  border-radius: 3px 3px 0 0;
  background-color: rgba(248, 250, 253, 0.5);
  box-shadow: 0px 2px 18px 3px #ccc; }
  .account-wall .fill-data {
    position: relative;
    border: 1px solid #9ebddb; }
    .account-wall .fill-data .icons {
      position: absolute;
      z-index: 3;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background: #d4e3f2;
      font-size: 21px;
      color: #39396f; }
  .account-wall .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto; }
    .account-wall .form-signin .checkbox, .account-wall .form-signin input[type=checkbox] {
      font-weight: normal;
      display: inline-block;
      margin: 0;
      vertical-align: middle; }
    .account-wall .form-signin .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 50px;
      padding-left: 60px;
      border-radius: 0;
      box-shadow: 0 none;
      font: 16px 'OpenSans-Italic'; }
    .account-wall .form-signin .form-control:focus {
      z-index: 2; }
  .account-wall .new-account {
    display: block;
    margin-top: 10px; }

.sign-btn {
  background: #5490cc;
  border-color: #5490cc;
  width: 200px;
  margin: 0 auto; }

.registrationForm {
  width: 700px;
  margin: 0 auto;
  float: none; }
  .registrationForm label {
    color: #39396f; }

.need-help {
  color: #888c97;
  text-align: center;
  display: block;
  text-decoration: underline; }

.page-title {
  color: #39396f;
  font: 36px   'OpenSans-Bold'; }

.login-title {
  color: #39396f;
  font: 40px 'OpenSans-Semibold';
  margin: 35px 0 40px 0;
  text-transform: uppercase; }

.login-txt {
  font: 16px "OpenSans";
  color: #888c97;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px; }

.error {
  color: red; }

.not-sorted {
  color: #B4B4DA; }

.sorting_asc .fa-caret-up {
  color: #39396f; }

.sorting_desc .fa-caret-down {
  color: #39396f; }

.dataTables_filter, .dataTables_length {
  display: inline-block;
  vertical-align: top;
  color: #39396f; }

#files_table_wrapper {
  margin-top: 20px;
  padding-bottom: 20px; }

.dataTables_length select {
  border: 1px solid #d4e3f2;
  padding: 5px;
  margin: 0 10px;
  font: 12px 'OpenSans'; }

.dataTables_filter {
  float: right; }
  .dataTables_filter input[type=search] {
    border: 1px solid #d4e3f2;
    padding: 5px 10px;
    margin-left: 10px;
    font: 12px 'OpenSans'; }

.paginate_button {
  color: #23527c;
  border-color: #ddd;
  position: relative;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-right: 5px;
  cursor: pointer; }
  .paginate_button.current {
    color: #fff;
    cursor: default;
    background-color: #9ebddb;
    border-color: #9ebddb; }

.dataTables_paginate {
  margin-left: 1px; }

html, body, .wrapper-box, .loginForm-box {
  height: 100%;
  float: left;
  width: 100%; }

.previous, .next {
  position: absolute;
  right: 10px;
  margin-top: -6px;
  cursor: pointer; }

.previous {
  right: 44px; }

.ellipsis {
  vertical-align: middle;
  display: inline-block;
  margin: 0 4px 8px 0; }

.browse-pages {
  float: right;
  right: 96px;
  vertical-align: middle;
  color: #262262;
  position: absolute; }

.show-pages {
  margin-right: 17px;
  color: #262262;
  float: left; }

.loginForm-box {
  background: url("../img/background_login.jpg");
  min-height: 100%;
  position: relative; }

.loading_icon {
  width: 100px;
  margin: 120px auto;
  display: block; }

.i-switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  background-color: #5490cc;
  border-radius: 30px; }

.i-switch input {
  position: absolute;
  opacity: 0; }

.i-switch input:checked + i:before {
  top: 50%;
  right: 5px;
  bottom: 50%;
  left: 50%;
  border-width: 0;
  border-radius: 5px; }

.i-switch input:checked + i:after {
  margin-left: 16px; }

.i-switch i:before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 30px;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.i-switch i:after {
  position: absolute;
  top: 1px;
  bottom: 1px;
  width: 18px;
  background-color: #fff;
  border-radius: 50%;
  content: "";
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s; }

.popover-content, .popover-content a {
  color: #333; }

@media only screen and (max-width: 1200px) {
  .tabbable.tabs-left {
    width: 15%; }

  .right-box {
    width: 85%; }

  .tabbable.tabs-left, .right-box {
    box-sizing: border-box;
    display: inline-block; }

  .tabs-left > .nav-tabs, .logo-bg {
    width: 100%; }

  .top-list li {
    margin-right: 30px; }

  .top-list li:last-child {
    margin-right: 0; }

  .top-nav .icon-settings {
    margin: 0 15px 0 0; }

  .prof-img {
    margin-left: 15px; }

  .ibox.float-e-margins {
    overflow: hidden; }

  .table-responsive {
    box-sizing: border-box;
    width: 100%; }

  table {
    width: auto !important; }

  table th.large, table th.large-m, table th {
    width: auto !important; }

  table th.large span, table th.large-m span, table th span {
    float: none !important;
    display: inline-block;
    text-align: right; }

  thead {
    width: auto;
    box-sizing: border-box; }

  .pagination {
    display: block;
    text-align: center;
    width: 100%; } }
@media only screen and (max-width: 992px) {
  .wrapper {
    display: block; }

  .tabbable.tabs-left {
    width: 25%; }

  .right-box {
    width: 74%; }

  .tabbable.tabs-left, .right-box {
    display: inline-block; }

  .top-list li {
    font: 13px 'OpenSans-Semibold'; }

  .profile-element {
    text-align: right; }

  .top-nav {
    height: auto;
    text-align: center; } }
@media only screen and (max-width: 768px) {
  .tabbable.tabs-left, .right-box {
    display: inline-block;
    width: 100%; }

  .top-nav .top-list {
    line-height: 2; } }
@media only screen and (max-width: 482px) {
  .previous, .next {
    position: static; } }

/*# sourceMappingURL=style.css.map */
