@media only screen and (max-width: 1200px) {
  .tabbable.tabs-left{
    width: 15%;
  }
  .right-box{
    width: 85%;
  }
  .tabbable.tabs-left, .right-box{
    box-sizing: border-box;
    display: inline-block;
  }
  .tabs-left > .nav-tabs, .logo-bg {
    width: 100%;
  }
  .top-list li{
    margin-right: 30px;
  }
  .top-list li:last-child{
    margin-right: 0;
  }
  .top-nav .icon-settings{
    margin: 0 15px 0 0 ;
  }
  .prof-img{
    margin-left: 15px;
  }
  .ibox.float-e-margins{
    overflow: hidden;
  }
  .table-responsive{
    box-sizing: border-box;
    width: 100%;
  }

  table {
    width: auto!important;
  }
  table th.large , table th.large-m , table th {
    width: auto!important;

  }
  table th.large span , table th.large-m span  , table th span{
    float: none!important;
    display: inline-block;
    text-align: right;
  }
  thead {
    width: auto;
    box-sizing: border-box;
  }

  .pagination {
    display: block;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .wrapper {
    display: block;
  }
  .tabbable.tabs-left{
    width: 25%;
  }
  .right-box{
    width: 74%;
  }

  .tabbable.tabs-left, .right-box {
    display: inline-block;
  }
  .top-list li{
    font: 13px 'OpenSans-Semibold';
  }
  .profile-element {
    text-align: right;
  }
  .top-nav {
    height: auto;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .tabbable.tabs-left, .right-box {
    display: inline-block;
    width: 100%;
  }
  .top-nav .top-list {
    line-height: 2;
  }
}
@media only screen and (max-width: 482px) {
    .previous, .next {
        position: static;
    }
}