<!DOCTYPE html>
<html ng-app="app" lang="en" ng-controller="PageCtrl">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="{{ Page.metaDescription() }}">
  <meta name="keywords" content="{{ Page.metaKeywords() }}">
  <title>{{Page.title()}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="libs/assets/simple-line-icons-master/css/simple-line-icons.css" type="text/css" />
  <link rel="stylesheet" href="libs/jquery/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="libs/assets/font-awesome/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="libs/assets/animate.css/animate.css" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <!--<link rel="stylesheet" href="libs/jquery/datatables/media/css/jquery.dataTables.css" type="text/css" />-->
  
  <!--<link rel="stylesheet" href="css/font.css" type="text/css" />-->
</head>
<body ng-controller="AppCtrl">
  <div class="app wrapper-box" id="app" ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}" ui-view></div>


  <!-- jQuery -->
  <script src="libs/jquery/jquery/dist/jquery.js"></script>
  <script src="libs/jquery/datatables/media/js/jquery.dataTables.min.js"></script>
  <!-- Bootstrap -->
  <script src="libs/jquery/bootstrap/dist/js/bootstrap.js"></script>

  <!-- Angular -->
  <script src="libs/angular/angular/angular.js"></script>
  
  <script src="libs/angular/angular-animate/angular-animate.js"></script>
  <script src="libs/angular/angular-aria/angular-aria.js"></script>
  <script src="libs/angular/angular-cookies/angular-cookies.js"></script>
  <script src="libs/angular/angular-messages/angular-messages.js"></script>
  <script src="libs/angular/angular-resource/angular-resource.js"></script>
  <script src="libs/angular/angular-sanitize/angular-sanitize.js"></script>
  <script src="libs/angular/angular-touch/angular-touch.js"></script>
  <!-- ngMaterial -->
  <script src="libs/angular/angular-material/angular-material.js"></script>

  <script src="libs/angular/angular-ui-router/release/angular-ui-router.js"></script> 
  <script src="libs/angular/ngstorage/ngStorage.js"></script>
  <script src="libs/angular/angular-ui-utils/ui-utils.js"></script>
  

  <!-- bootstrap -->
  <script src="libs/angular/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- lazyload -->
  <script src="libs/angular/oclazyload/dist/ocLazyLoad.js"></script>
  <!-- translate -->
  <script src="libs/angular/angular-translate/angular-translate.js"></script>
  <script src="libs/angular/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="libs/angular/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="libs/angular/angular-translate-storage-local/angular-translate-storage-local.js"></script>

  <!-- App -->
  <script src="js/app.js"></script>
  <script src="js/config.js"></script>
  <script src="js/config.lazyload.js"></script>
  <script src="js/config.router.js"></script>
  <script src="js/main.js"></script>
  
  <!-- Services -->
  <script src="js/services/Page.js"></script>
  <script src="js/services/login.js"></script>
  <script src="js/services/main.js"></script>
  <script src="js/services/datatable.js"></script>
  <script src="js/services/accordion.js"></script>
  
  <!-- Controllers -->
  <script src="js/controllers/page.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/login.js"></script>
  <script src="js/controllers/home.js"></script>
  
  <!-- Directives -->
  <script src="js/directives/pageSettings.js"></script>
  <script src="js/directives/textAbstract.js"></script>
  
  <!-- Lazy loading -->
</body>
</html>
