<i data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="" class="icon-settings icons popswitch"></i>
<ul id="settings_block" class="animated fadeInRight" style="display: none;">
    <li>
        <span>Show/Hide text abstract</span>
        <label class="i-switch bg-warning">
            <input type="checkbox" ng-model="showAbstractText" ng-change="abstractText()">
            <i></i>
        </label>
    </li>
</ul>