<!-- tabs left -->
<div class="wrapper" ng-controller="MainCtrl">
    <div class="tabbable tabs-left">
        <div class="logo-bg">
            <a href="index.html">
                <img src="img/logo.png" class="site-logo" alt="intop">
            </a>
        </div>
        <ul class="nav nav-tabs">
            <li><a href="#b" data-toggle="tab">ALL</a></li>
            <li class="active"><a href="#a" data-toggle="tab" class="lM">License <br> Management</a></li>
            <li><a href="#c" data-toggle="tab">O&M <span class="badge">2</span></a></li>
            <li><a href="#d" data-toggle="tab">D&W  <span class="badge">3</span></a></li>
            <li><a href="#e" data-toggle="tab">Production</a></li>
            <li><a href="#f" data-toggle="tab" class="personal">PERSONAL 1
                <span class="close-btn"></span>
            </a></li>
            <li><a href="#j" data-toggle="tab" class="personal">PERSONAL
                <span class="close-btn"></span>2
            </a></li>
        </ul>
        <div class="tabbable-bottom">
            <ul>
                <li>
                    <i class="icon-star icons"></i>
                </li>
                <li>
                    <i class="icon-share icons"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-box">
        <div class="top-nav col-md-12">
            <ul class="top-list inline-block-top">
                <li>
                    <span class="light-blue">Selections:</span><span class="set-value">11</span>
                </li>
                <li>
                    <span class="light-blue">Hits: </span><span class="set-value">12564 <span
                        class="light-blue">/</span> 123,446,843</span>
                </li>
            </ul>
            <div class="dropdown profile-element inline-block-top pull-right">
                <!--<i class="icon-settings icons"></i>-->
                <a data-toggle="dropdown" class="dropdown-toggle inline-block-top" href="#">
                    <span class="clear">
                        <span class="block m-t-xs user-name">
                            <strong class="">John Doe <i class="fa fa-angle-down" aria-hidden="true"></i></strong>
                        </span>
                        <span class="user-profession text-xs block">Administrator</span>
                    </span>
                </a>
                <span class="prof-img">
                    <img alt="image" class="inline-block" src="img/prof-img.png">
                </span>
                <ul class="dropdown-menu animated fadeInRight">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Mailbox</a></li>
                    <li><a href="#/logout">Logout</a></li>
                </ul>
            </div>
            <div class="profile-element inline-block-top pull-right">
                <page-settings></page-settings>
            </div>
        </div>
        <div class="panel-group col-md-2 col-lg-2 filter-panel no-padding accordion" id="accordion1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                             Committee
                            <i class="indicator fa fa-plus-square-o pull-right" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="committee in committees">
                                <span  class="main-label">{{committee}}</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="committee_{{$index}}" name="check"/>
                                    <label for="committee_{{$index}}"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                            License
                            <i class="indicator fa fa-plus-square-o pull-right" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="license in licenses">
                                <span  class="main-label">{{license}}</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="license_{{$index}}" name="check"/>
                                    <label for="license_{{$index}}"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                            Organization
                            <i class="indicator fa fa-plus-square-o pull-right" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="organization in organizations">
                                <span  class="main-label">{{organization}}</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="organization_{{$index}}" name="check"/>
                                    <label for="organization_{{$index}}"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse41">
                            Source
                            <i class="indicator fa fa-plus-square-o pull-right" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse41" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="source in sources">
                                <span class="main-label">{{source}}</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="source_{{$index}}" name="check"/>
                                    <label for="source_{{$index}}"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse51">
                            Well
                            <i class="indicator fa fa-plus-square-o pull-right" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapse51" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="well in wells">
                                <span  class="main-label">{{well}}</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="well_{{$index}}" name="check"/>
                                    <label for="well_{{$index}}"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <!--<i class="icon-puzzle icons"></i> Discipline-->
                            Discipline
                            <i class="indicator fa fa-plus-square-o pull-right" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="discipline in disciplines">
                                <span  class="main-label">{{discipline}}</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="discipline_{{$index}}" name="check"/>
                                    <label for="discipline_{{$index}}"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <!--<i class="icon-location-pin icons"></i> Location-->
                            Location
                            <i class="indicator fa fa-plus-square-o pull-right" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <span  class="main-label">Bergen</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="bergen" name="check"/>
                                    <label for="bergen"></label>
                                </div>
                            </li>
                            <li>
                                <span class="main-label">Brage</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="brage" name="check"/>
                                    <label for="brage"></label>
                                </div>
                            </li>
                            <li>
                                <span class="main-label">Stavanger</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="stavanger" name="check"/>
                                    <label for="stavanger"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            <!--<i class="icon-people icons"></i> Meeting type-->
                            Meeting type
                            <i class="indicator fa fa-plus-square-o pull-right" aria-hidden="true"></i>
                        </a>

                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="meetingType in meetingTypes">
                                <span class="main-label">{{meetingType}}</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="meetingType_{{$index}}" name="check"/>
                                    <label for="meetingType_{{$index}}"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-8 tab-content">
            <div class="tab-pane active" id="a">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <img ng-show="tableReady == false" class="loading_icon" src="img/loading.gif" />
                            <div class="ibox-content" ng-show="tableReady == true">
                                <div class="table-responsive">
                                    <table id="files_table" class="table dataTables-example" >
                                        <thead>
                                            <tr>
                                                <th class="file_title">
                                                    Title
                                                    <span class="pull-right">
                                                        <i class="fa fa-caret-down pull-right not-sorted" aria-hidden="true"></i>
                                                        <i class="fa fa-caret-up pull-right not-sorted" aria-hidden="true"></i>
                                                    </span>
                                                </th>
                                                <th class="large">
                                                    Date
                                                     <span class="pull-right">
                                                        <i class="fa fa-caret-down pull-right not-sorted" aria-hidden="true"></i>
                                                        <i class="fa fa-caret-up pull-right not-sorted" aria-hidden="true"></i>
                                                    </span>
                                                </th>
                                                <th  class="large">
                                                    File type
                                                     <span class="pull-right">
                                                        <i class="fa fa-caret-down pull-right not-sorted" aria-hidden="true"></i>
                                                        <i class="fa fa-caret-up pull-right not-sorted" aria-hidden="true"></i>
                                                    </span>
                                                </th>
                                                <th class="large-m">
                                                    Author
                                                     <span class="pull-right">
                                                        <i class="fa fa-caret-down pull-right not-sorted" aria-hidden="true"></i>
                                                        <i class="fa fa-caret-up pull-right not-sorted" aria-hidden="true"></i>
                                                    </span>
                                                </th>
                                                <th>View</th>
                                                <th>Share</th>
                                                <th>Edit</th>
                                                <th>
                                                    <a href="#">
                                                        <span class="circle"></span>
                                                        <span class="circle"></span>
                                                        <span class="circle"></span>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
<!--                                            <tr class="gradeX" ng-repeat="file in files">
                                                <td class="file_title">
                                                    <a href="{{file.url}}" class="table-link">www.result1.com/index.docx</a>
                                                    <a file-location filelink="{{file.url}}" target="_blank" class="table-link">{{file.name}}</a>
                                                    <p ng-show="showAbstractText">{{file.contentExcerpt}}</p>
                                                    <p ng-show="showAbstractText" text-abstract text="{{file.contentExcerpt}}"></p>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris velit esse cillum dolore eu fugiat nulla pariatur.
                                                    </p>
                                                </td>
                                                <td>{{file.modified | date : 'dd / MM / yyyy'}}</td>
                                                <td>
                                                    <span ng-if="file.filetype == 'doc' || file.filetype == 'docx'" class="w-icons word-icon"></span>
                                                    <span ng-if="file.filetype == 'ppt' || file.filetype == 'pptx' || file.filetype == 'pptm'" class="w-icons ppt-icon"></span>
                                                    <span ng-if="file.filetype == 'pdf'" class="w-icons pdf-icon"></span>
                                                    <span ng-if="file.filetype == 'html'" class="w-icons html-icon"></span>
                                                    <span ng-if="file.filetype == 'xlsx' || file.filetype == 'xls' || file.filetype == 'xlsm'" class="w-icons xls-icon"></span>
                                                    <span ng-if="file.filetype == 'txt'" class="w-icons txt-icon"></span>
                                                    <span ng-if="file.filetype == 'dat'" class="w-icons dat-icon"></span>
                                                    <span ng-if="file.filetype == 'asc'" class="w-icons asc-icon"></span>
                                                    <span ng-if="file.filetype == 'xyz'" class="w-icons xyz-icon"></span>
                                                    <span ng-if="file.filetype == 'zip'" class="w-icons zip-icon"></span>
                                                    <span ng-if="file.filetype == 'png'" class="w-icons png-icon"></span>
                                                    <span ng-if="file.filetype == 'las'" class="w-icons las-icon"></span>
                                                    <span ng-if="file.filetype == 'rtf'" class="w-icons rtf-icon"></span>
                                                    <span ng-if="file.filetype == 'lnk'" class="w-icons lnk-icon"></span>
                                                    <span ng-if="file.filetype != 'xlsx' && file.filetype != 'xls' && 
                                                                file.filetype != 'html' && file.filetype != 'pdf' && 
                                                                file.filetype != 'ppt' && file.filetype != 'pptx' && 
                                                                file.filetype != 'doc' && file.filetype != 'docx' && 
                                                                file.filetype != 'pptm' && file.filetype != 'xlsm' &&
                                                                file.filetype != 'txt' && file.filetype != 'dat' &&
                                                                file.filetype != 'asc' && file.filetype != 'xyz' &&
                                                                file.filetype != 'zip' && file.filetype != 'png' &&
                                                                file.filetype != 'las' && file.filetype != 'rtf' &&
                                                                file.filetype != 'lnk' ">type - .{{file.filetype}}</span>
                                                </td>
                                                <td class="center">{{file.author}}</td>
                                                <td class="center"><i class="icon-eye  w-icons icons"></i></td>
                                                <td class="center">
                                                    <a href='mailto:?subject=Shared document from IntOp&body=Link to document: "{{file.url}}"'>
                                                        <i class="icon-share  w-icons icons"></i>
                                                    </a>
                                                    <share-link url="http://brage.ho05.local/sites/norwaybragercpartnermeetings/Shared%20Documents/RC80/0.%20RC80%20Agenda.ppt"></share-link>
                                                </td>
                                                <td class="center"><i class="icon-note  w-icons icons"></i></td>
                                                <td></td>
                                            </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                accumsan.
                Aliquam in felis sit amet augue.
            </div>
            <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius
                quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae.
            </div>
            <div class="tab-pane" id="d"></div>
            <div class="tab-pane" id="e"></div>
            <div class="tab-pane" id="f"></div>
            <div class="tab-pane" id="j"></div>
        </div>
        <div class="panel-group col-lg-2  col-md-3 filter-panel accordion" id="accordion">
            <div class="heading">
                <h4>Filters</h4>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseType">
                            <i class="icon-docs icons"></i> File type
                            <i class="indicator fa fa-plus-square-o pull-right" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseType" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="fileType in fileTypes">
                                <span  class="main-label">{{fileType}}</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="fileType_{{$index}}" name="check"/>
                                    <label for="fileType_{{$index}}"></label>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <i class="icon-clock icons"></i> Time
                            <i class="indicator fa fa-plus-square-o pull-right" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <span  class="main-label">Next year</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="NextYear" name="check"/>
                                    <label for="NextYear"></label>
                                </div>
                            </li>
                            <li>
                                <span  class="main-label">Next month</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="nextMonth" name="check"/>
                                    <label for="nextMonth"></label>
                                </div>
                            </li>
                            <li>
                                <span  class="main-label">Next week</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="NextWeek" name="check"/>
                                    <label for="NextWeek"></label>
                                </div>
                            </li>
                            <li>
                                <span  class="main-label">Last 6 months</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="Last6Months" name="check"/>
                                    <label for="Last6Months"></label>
                                </div>
                            </li>
                            <li>
                                <span  class="main-label">Last year</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None"  class="pull-right squaredTwo"  id="LastYear" name="check"/>
                                    <label for="LastYear"></label>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseAuth">
                            <i class="icon-people icons"></i> Author
                            <i class="indicator fa fa-plus-square-o pull-right" aria-hidden="true"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseAuth" class="panel-collapse collapse">
                    <div class="panel-body">
                        <select name="author" class="form-control" ng-model="author"
                                ng-options="(author.length > 0)?author:'Without author' for author in allAuthors track by author" ng-change="chooseAuthor(author)" >
                            <option value="">Select author</option>
                        </select>
<!--                        <ul>
                            <li ng-repeat="author in allAuthors">
                                <span  class="main-label">{{author}}</span>
                                <div class="squaredTwo">
                                    <input type="checkbox" value="None" ng-model="author_checked" class="pull-right squaredTwo" id="{{author}}" name="{{author}}" ng-change="chooseAuthor(author, author_checked)"/>
                                    <label for="{{author}}"></label>
                                </div>
                            </li>
                        </ul>-->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#">
                            <i class="icon-magnifier icons"></i> Key word
                            <i class="indicator fa fa-minus-square-o pull-right" aria-hidden="true"></i>
                        </a>
                    </h4>
                    <input type="text" class="search" placeholder="Type key word">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /tabs -->

<!-- Mainly scripts -->

<script>
//    function toggleChevron(e) {
//        $(e.target)
//                .prev('.panel-heading')
//                .find("i.indicator")
//                .toggleClass('fa fa-plus-square-o fa fa-minus-square-o');
//    }
//    $('.accordion').on('hidden.bs.collapse', toggleChevron);
//    $('.accordion').on('shown.bs.collapse', toggleChevron);
</script>