<div class="loginForm-box col-xs-12" ng-controller="MainCtrl">
        <div class="col-sm-6 account-wall col-md-4 col-md-offset-4">
            <div class="">
                <h1 class="text-center login-title">Login</h1>
                <p class="login-txt">To access your account please enter your email address and pass</p>
                <form name="LoginForm" class="form-signin" novalidate ng-submit="LoginForm.$valid && loginUser(username, password, LoginForm)" ng-app>
                    <div class="form-group fill-data">
                        <i class="icon-envelope icons"></i>
                        <input type="email" name="username" class="form-control" placeholder="Your email address" required autofocus ng-model="user.username">
                        <p translate="validations.Required" class="help-inline error" ng-show="submitted && LoginForm.username.$error.required">Required</p>
                        <p translate="validations.Incorrect_email" class="help-inline error" ng-show="submitted && LoginForm.username.$error.email">Incorrect email</p>
                    </div>
                    <div class="form-group fill-data">
                         <i class="icon-lock icons"></i>
                        <input type="password" name="password" class="form-control" placeholder="Your password" required ng-model="user.password">
                        <p translate="validations.Required" class="help-inline error" ng-show="submitted && LoginForm.password.$error.required">Required</p>
                    </div>
                    <div class="form-group">
                        <button ng-click="submitted=true" class="btn btn-lg btn-primary btn-block sign-btn" type="submit">
                            LOGIN
                        </button>
                    </div>
<!--                    <div class="form-group pull-left">
                        <label class="checkbox" for="rememberMe">Remember me</label>
                        <input type="checkbox" value="remember-me" id="rememberMe">
                    </div>-->
                    <a href="#/login" class="need-help">Forgot Password? </a><span class="clearfix"></span>
                </form>
            </div>
        </div>
</div>